{% extends 'pokedexapp/layout/base.html' %}

{% load static %}
{% block styles %}
{% endblock styles %}

{% block content %}

    <div class="flex bg-fuchsia-100 grid md:grid-cols-5 lg:grid-cols-5 sm:grid-rows-4 md:grid-rows-1 lg:grid-rows-1 h-full">
        <div class="flex md:col-span-3 lg:col-span-3">
            <div class=" bg-amber-200 w-20">
            </div>
            <div class="w-full">
                <div class="flex justify-between mx-auto w-2/3 mt-5 rounded-tl-xl rounded-tr-xl border-indigo-300 border-4 bg-indigo-100 p-2">
                    <div id="name" class="font-extrabold">

                    </div>
                    <div id="number" class="font-extrabold">
                    </div>
                </div>

                <div id="pokemon" class="border-l-4 border-r-4 border-indigo-300  mx-auto h-2/3 w-2/3 shadow-2xl"></div>

                <div class="bg-indigo-100 rounded-bl-xl rounded-br-xl border-4 p-2 border-indigo-300 mx-auto h-1/5 w-2/3"></div>
            </div>
        </div>
                <div class="md:col-span-2 lg:col-span-2 grid  right-5 flex ">
                    <div class="flex justify-center p-1 m-2">
                        <input type="text" class=" p-3 w-11/12 rounded-xl" placeholder="Rechercher...">
                    </div>
                    <div class="overflow-auto row-span-8">
                        {% for pokemon in pokemon.results %}
                        <div onclick="afficher({{forloop.counter}})" class="m-2 shadow-md bg-indigo-200 border-sm border-black rounded-l-full p-3 hover:bg-amber-500 hover:cursor-pointer">
                            <div class="flex justify-start ml-2 font-bold">
                                #{% if forloop.counter < 10 %}00{% elif forloop.counter < 100 %}0{% endif %}{{ forloop.counter }} - {{ pokemon.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
    </div>


            {% endblock content %}

            {% block scripts %}
            <script src="./static/pokedexapp/three.js"></script>
            <script src="./static/pokedexapp/orbitControls.js"></script>
            <script src="./static/pokedexapp/gtlfLoader.js"></script>
            <script src="./static/pokedexapp/pokemon.js"></script>
            <script>

                afficher(1);

                function afficher(numero) {
                    var httpRequest = new XMLHttpRequest()
                    httpRequest.open("GET", "https://pokeapi.co/api/v2/pokemon/" + numero);
                    httpRequest.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            const pokemon = JSON.parse(this.response)
                            console.log(JSON.parse(this.response))
                            document.querySelector("#name").innerHTML = String(pokemon.name).toUpperCase()
                            document.querySelector("#number").innerHTML = (pokemon.id < 10 ? "00" : pokemon.id < 100 ? "0" : "") + pokemon.id
                        }
                    }
                    httpRequest.send();

                }



            </script>
            {% endblock scripts %}
