{% extends 'pokedexapp/layout/base.html' %}

{% load static %}
{% block styles %}
<style>
    .pokedexSize{
        height: calc(100vh - 64px);
    }
</style>
{% endblock styles %}

{% block content %}
<div class="flex flex-col h-screen">
    <div class="h-16 w-full sticky top-0 z-50 bg-red-300">
        <div class="flex justify-between h-16">
            <div class="flex justify-start">
                <div class=" border-r border-red-600">
                    <a href="{% url 'index' %}"><img class="h-12 m-2" src="{% static 'pokedexapp/images/pokedex_menu.png' %}" alt=""></a>
                </div>
                <div class="ml-2 flex items-center">
                    <a class="text-red-600 text-2xl hover:text-red-800 font-bold" href="{% url 'teams' %}">Equipes</a>
                </div>
            </div>
            <div class="flex justify-end">
                <label class="inline-flex relative items-center cursor-pointer sm:pr-1 md:pr-3 lg:pr-3">
                    <input id="showSprite" type="checkbox" checked class="sr-only peer" onchange="showSprite()">
                    <div class="w-11 h-6 bg-red-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:mt-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
                    <span class="ml-3 text-sm text-red-600 font-bold">Mode 3D</span>
                </label>
                <input onkeyup="chercher(this)" type="text" placeholder="Recherche..." id="team_name" class="w-64 p-2 m-2 rounded-md placeholder:text-red-700 border border-red-600 focus:outline focus:outline-1 focus:outline-red-600 placeholder:font-italic">
             </div>
        </div>
    </div>
    <div class="w-full flex-grow">
        <div class="grid grid-cols-3 grid-rows-1 pokedexSize">
            <div class="col-span-2">
                <div class="flex justify-start mx-auto w-2/3 mt-5 bg-red-300 border-l-4 border-r-4 border-t-4 border-b-2 border-red-600 rounded-tr-xl rounded-tl-xl">
                    <div id="number" class="font-bold p-3 flex border-r-2 border-red-600 text-red-600"></div>
                    <div class="flex justify-between w-full">
                        <div id="name" class="font-bold p-3 text-red-600 text-red-600"></div>
                        <div class="flex items-center p-2"><i class="fa-solid text-xl fa-volume-high font-bold hover:cursor-pointer text-red-600 animate-pulse hover:text-red-800" onclick="playAudio()"></i></div>
                    </div>
                    <audio id="audio" controls src="{% static 'pokedexapp/images/sprites/1.wav' %}" type="audio/wav" hidden></audio>
                </div>
                <div id="pokemon" class="border-r-4 border-l-4 border-red-600 mx-auto h-2/3 w-2/3"></div> 
                <img id="spritepokemon" class="border-r-4 border-l-4 border-red-600 mx-auto h-2/3 w-2/3" src="" hidden>

                <div class="mx-auto w-2/3 bg-red-300 border-l-4 border-r-4 border-b-4 border-t-2 border-red-600 rounded-br-xl rounded-bl-xl">
                    <div id="weight" class="flex justify-start p-2 w-full border-b-2 border-red-600 font-bold text-red-600"></div>
                    <div id="types" class="p-1 flex justify-end"></div> 
                </div> 
            </div>
            <div class="col-span-1 overflow-auto">
                <div class="grid grid-rows-1">
                    <div id="pokemon_list" class="">
                        {% for pokemon in pokemon.results %}
                            <div id="{% if forloop.counter < 10 %}00{% elif forloop.counter < 100 %}0{% endif %}{{ forloop.counter }}_{{ pokemon.name }}" onclick="afficher({{forloop.counter}})" class="affichage flex m-2 shadow-md bg-gradient-to-r from-red-500 via-red-600 to-red-800 border-sm border-black rounded-l-full p-3 hover:bg-gradient-to-r hover:from-red-900 hover:via-red-600 hover:to-red-900 hover:cursor-pointer">
                                <div class="flex justify-start ml-2 font-bold items-center">
                                    <img class="object-cover w-16 h-16 rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg" src="{% static 'pokedexapp/images/sprites/' %}{{ forloop.counter }}{{'.png'}}" alt="">
                                    <p class="text-white text-2xl font-bold">#{% if forloop.counter < 10 %}00{% elif forloop.counter < 100 %}0{% endif %}{{ forloop.counter }} - {{ pokemon.name }}</p>
                                </div>   
                            </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>
        
        
    </div>
</div>
    


{% endblock content %}

{% block scripts %}
    <script src="{% static 'pokedexapp/searchPokemon.js' %}"></script>
    <script src="./static/pokedexapp/three.js"></script>
    <script src="./static/pokedexapp/orbitControls.js"></script>
    <script src="./static/pokedexapp/gtlfLoader.js"></script>
    <script src="./static/pokedexapp/pokemon.js"></script>
    <script>

        var types = [];

        function showSprite(){
            document.querySelector("#spritepokemon").hidden = !document.querySelector("#spritepokemon").hidden
            document.querySelector("#pokemon").hidden = !document.querySelector("#pokemon").hidden
        }

        function getTypes(){
            
            types.push("");

            {% for type in types.results %}
            types.push({name :"{{ type.name }}", color: "{{ type.color }}"})
            {% endfor %}

        }


        function afficher(numero){
            var httpRequest = new XMLHttpRequest()
            httpRequest.open("GET","https://pokeapi.co/api/v2/pokemon/" + numero);
            httpRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    const pokemons = JSON.parse(this.response)
                    document.querySelector("#name").innerHTML = String(pokemons.name).toUpperCase()
                    document.querySelector("#number").innerHTML = (pokemons.id < 10 ? "00" : pokemons.id < 100 ? "0" : "") + pokemons.id
                    document.querySelector("#weight").innerHTML = "Poids : " + (pokemons.weight / 10) + " kg"
                    document.querySelector("#audio").src =  "{% static 'pokedexapp/cries/' %}" + pokemons.id + ".wav?time=" + Date.now()

                    document.querySelector("#spritepokemon").src = "{% static 'pokedexapp/images/sprites/' %}" + pokemons.id + ".png"
                    var badges = "";
                    pokemons.types.forEach((type) => {
                        let find = types.filter(element => element.name == type.type.name)
                        if (find.length = 1){
                            find = find[0]
                            badges += "<span class='p-2 m-2 rounded-md border-2 border-black text-white font-bold " + find.color + "'>" + type.type.name.toUpperCase() + "</span>"
                        }
                        
                    })

                    document.querySelector("#types").innerHTML = badges

                    if (objetPokemon != undefined){
                       scene.remove(objetPokemon); 
                    }
                    
                    loader = new GLTFLoader();
                    loader.load( 
                    chemin + "/objects/" + pokemons.id + ".glb",
                    function ( gltf ) {
                        
                        objetPokemon = gltf.scene;
                        objetPokemon.position.set(0,0,0);
                        objetPokemon.rotateY(0.40)

                        const box = new THREE.Box3().setFromObject(objetPokemon); 
                        const size = box.getSize(new THREE.Vector3());

                        if (pokemons.id == 93) {
                            offset = 3
                        }
                        else if(pokemons.id == 92){
                            offset = 1
                        }
                        else if(size.y > 10 || pokemons.id == 97){
                            offset = 2
                        }
                        else {
                            offset = 65
                            
                        }

                        fitCameraToCenteredObject(camera,objetPokemon, offset,controls)
                        
                        camera.position.y = 3

                        scene.add(objetPokemon);

                    },
                    );
                }
            }
            httpRequest.send();
        }

        function playAudio(){
            document.getElementById('audio').play();
        }

        getTypes()

        afficher(1);

    </script>
{% endblock scripts %}